<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zp.com.zpnotebook">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.activity.ZpSplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 首页 -->
        <activity android:name=".home.MainActivity"/>
        <!-- 登录页面 -->
        <activity android:name=".login.activity.ZpLoginActivity"/>
        <!-- 手势设置页面 -->
        <activity android:name=".center.ZpSetGestureActivity"/>

    </application>

</manifest>